/* Eliminar márgenes, paddings y bordes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegurar que los textos se muestren correctamente */
body {
    line-height: 1;
    font-family: sans-serif; /* Puedes cambiarlo por otra fuente */
}

/* Eliminar estilos de listas */
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0%;
    margin: 0%;
}
/* Eliminar decoraciones de enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Quitar bordes de imágenes y elementos multimedia */
img, video {
    max-width: 100%;
    height: auto;
}
